					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<div class="x_panel">
								<div class="x_content">
									<h3>Add products</h3>
									<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="POST" action='store'>
										
										<div class="item form-group">
											<label for="_nameproduct" class="col-form-label col-md-3 col-sm-3 label-align">Name</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="_nameproduct" class="form-control" type="text" name="_nameproduct">
											</div>
										</div>
                                        										<div class="item form-group">
											<label for="_idcate" class="col-form-label col-md-3 col-sm-3 label-align">Product type</label>
     								 											<div class="col-md-6 col-sm-6 ">
									    <select name="_idcate">
									<option value="Keyboard">Keyboard</option>
           							 <option value="Watch">Watch</option>
            						<option value="Mouse">Mosue</option>
         							   <option value="Headphone">Headphone</option>
										<option value="Laptop">Laptop</option>
        							</select>
									</div>
										</div>

										
										<div class="item form-group">
											<label for="_img" class="col-form-label col-md-3 col-sm-3 label-align">Picture</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="_img" class="form-control" type="text" name="_img">
											</div>
										</div>
                                        										<div class="item form-group">
											<label for="_price" class="col-form-label col-md-3 col-sm-3 label-align">Price</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="_price" class="form-control" type="text" name="_price">
											</div>
										</div>
                                        									
                                        										<div class="item form-group">
											<label for="_amount" class="col-form-label col-md-3 col-sm-3 label-align">Amount</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="_amount" class="form-control" type="text" name="_amount">
											</div>
										</div>
                                        <div class="item form-group">
											<label for="_procedure" class="col-form-label col-md-3 col-sm-3 label-align">Producer</label>
<div class="col-md-6 col-sm-6 ">
									    <select name="_procedure">
									<option value="Asus">Asus</option>
           							 <option value="Microsoft">Microsoft</option>
            						<option value="Apple">Appple</option>
         							   <option value="Samsung">Samsung</option>
										<option value="Google">Google</option>
        							</select>
									</div>
										</div>
                                        										<div class="item form-group">
											<label for="_detail" class="col-form-label col-md-3 col-sm-3 label-align">Detail</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="_detail" class="form-control" type="text" name="_detail">
											</div>
										</div>
										<div class="item form-group">
											<div class="col-md-6 col-sm-6 offset-md-3">
												<a href="/show"><button class="btn btn-primary" type="button">Exit</a></button>
												<button type="submit" class="btn btn-success">Submit</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>