<div  role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Accounts of Admin</h3>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">

                            <div class="x_content">



                                <!-- start project list -->
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%">#</th>
                                            <th style="width: 25%">Avatar</th>
                                            <th style="width: 30%">Name</th>
                                            <th style="width: 40%">Contact</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each admins}}
                                        <tr>
                                            <td>#</td>
                                            <td>
                                             <span class="image">
                                                    <img width="50" height="50" src={{this._avatar}} alt="img" />
                                            </span>
                                            </td>
                                            <td>
                                                <a>{{this._name}}</a>
                                            </td>
                                            <td>
                                                <a>{{this._email}}</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
